<ion-header>
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



 <h5 ion-text color="blue" style="text-align: center;">Bienvenidos</h5>
  <ion-list>


    <ion-item>
      <ion-icon name="egg" item-left></ion-icon>
      <ion-label stacked>Username:</ion-label>
      <ion-input
        type="text"
        placeholder="Username"
        name="nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <ion-label stacked>Nombre:</ion-label>
      <ion-input
        type="text"
        placeholder="Nombre"
        name="nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-contact" item-left></ion-icon>
      <ion-label stacked>Apellido:</ion-label>
      <ion-input
        type="text"
        placeholder="Apellido"
        name="nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-label stacked>Correo Electronico:</ion-label>
      <ion-input

        type="email"
        placeholder="correo"
        name="correo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="at" item-left></ion-icon>
      <ion-label stacked>Confirmar Correo :</ion-label>
      <ion-input

        type="email"
        placeholder="correo"
        name="correo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="md-key" item-left></ion-icon>
      <ion-label stacked>Contraseña:</ion-label>
      <ion-input

        type="password"
        placeholder="Contraseña "
        name="Contraseña">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="ios-key" item-left></ion-icon>
      <ion-label stacked>Confirmar Contraseña:</ion-label>
      <ion-input

        type="password"
        placeholder="Confirmar Contraseña "
        name="Contraseña">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="pin" item-left></ion-icon>
      <ion-label stacked>Dirección:</ion-label>
      <ion-input

        type="text"
        placeholder="Dirección"
        name="direccion">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call" item-left></ion-icon>
      <ion-label stacked>Numero de contacto:</ion-label>
      <ion-input

        type="number"
        placeholder="Numero de contacto"
        name="numero_contacto">
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label>  <p> Acepta <a target="_blank" rel="noopener" href="">Terminos y condiciones </a> </p> </ion-label>
      <ion-checkbox color="dark" checked="true"></ion-checkbox>
    </ion-item>




  </ion-list>

<ion-button>Registrar</ion-button>



  <p> Si ya se registro <a target="_blank" rel="noopener" href="">inicie sesión. </a> </p>
</ion-content>
